keras==3.5.0
matplotlib==3.9.2
nest-asyncio==1.6.0
numpy==1.26.4
tensorflow==2.17.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorstore==0.1.64
tf_keras==2.17.0
websockets==13.0
Werkzeug==3.0.3
mpi4py==4.0.0